@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Education Project</h1>
    <p class="lead">The function of this ASP.NET project is to send a bulk email to all or selected teacher/s</p>
</div>

